<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Tutorial</title>
    <!-- Not present in the tutorial. Just for basic styling. -->
    <!--link rel="stylesheet" href="css/base.css" /-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      </head>
      <body>
    <input type = 'hidden' id = 'csrf' value = {{csrf_token}}>
    <div id = 'content'></div>
    <style type="text/css">
        #stars{
            direction: rtl;
            unicode-bidi: bidi-override;
        }
        .last{
            color: transparent;
        }
        .starf{
          display:none
        }
        .star:hover ~ .starf {
          display:inline;
        }

        .star:hover ~ .star {
          display:none;
        }
        body{;
            padding: 0;
            margin: 0;
        }

        .emoSliderContainer,.container{
            width: 50%;

            margin-left: auto;
            margin-right: auto;
            text-align:  center;
            
        }

        .movieContainer{
            text-align:  center;
        }
        .movieContainer img{
            margin-left: auto;
            margin-right: auto;
        }

        .emoSlider{
           margin: 10px;
        }
    </style>
    <script type="text/babel">  
        var EmotionContainer= React.createClass({
            getInitialState: function(){
                return {
                    media: 'WATCH' ,
                    mode: 'PREDICT',
                    movies: [],
                    presentInd:0,
                    ratings: {},
                    style: {
                        padding: '40px',
                        backgroundColor:'#a2c4da',
                        height: '100%',
                        width: '100%'
                    }}
            },
            readData: function(){

            },
            simulate: function(){
                this.sendData({simulate: 1},this.updateEmotions,this.props.eegUrl)
            },

            componentDidMount: function(){
                this.fetchMovies();
                this.detect();
            },
            onChoose: function(match){
                this.setState({match:match})
            },

            detect: function(){
                if(this.props.simulate){
                    this.simulate();
                }
                else{
                    this.readData();
                }                
            },
            assignSliderValue:function(val){
                return val?this.props.high:this.props.low
            },
            fetchMovies: function(){
                $.ajax({
                  url: this.props.moviesUrl,
                  dataType: 'json',
                  cache: false,
                  context: this,
                  success: function(data){
                    this.setState(data)
                    },
                  error: function(xhr, status, err){
                    console.error(this.props.url, status, err.toString());
                  }
                });
            },
            sendData: function(toSend,callback,url){
                $.ajax({
                  url:url,
                  dataType: 'json',
                  cache: false,
                  type: 'POST',
                  beforeSend: function(xhr,settings){
                    xhr.setRequestHeader("X-CSRFToken", this.props.csrf);
                        },
                  data: {data: JSON.stringify(toSend)},
                  context: this,
                  success: function(data){
                            callback(data);
                        },
                  error: function(xhr, status, err){
                    console.error(this.props.url, status, err.toString());
                  }
                });
            },
            updateEmotions: function(data){
                    var st = {};
                    for(var dim in data){
                        st[dim] = data[dim]?this.props.high:this.props.low;
                    }
                    this.setState(st,function(){
                        this.findWords();
                        this.changeColour();
                    }.bind(this));
                  },
            changeColour: function(){
                var style = Object.assign({},this.state.style);
                style.backgroundColor =  this.matchColour();
                this.setState({style: style});
            },
            nextMovie: function(rating){
                var newState = {
                    ratings: this.updateRatingObject(rating),
                    presentInd: this.state.presentInd+1
                }
                if ((this.state.presentInd+1)==this.state.movies.length){
                    newState = Object.assign(newState,{mode: 'CHOOSE'});
                }
                this.setState(newState)
            },
            requestRecms: function(match){
                this.sendData({'ratings':this.state.ratings,
                                    'arousal': this.state.arousal,
                                    'valence': this.state.valence,
                                    'match': match},function(data){
                                                        alertJ(data);
                                    },this.props.ratingsUrl)
            },
            matchColour:function(){
                var colours = {
                    0: ['#8c8cff','#e47a73'],
                    1: ['#54ff54','#ffae3d']
                }
                return colours[this.calculateInd('valence')][this.calculateInd('arousal')]
            },
            updateRatingObject: function(rating){
                var ratingsNew = Object.assign({},this.state.ratings);
                ratingsNew[this.state.movies[this.state.presentInd].id] = rating;
                return ratingsNew;
            },
            calculateInd: function(dim){
                return 1*(this.state[dim]>=5)
            },
            findWords: function(){
                var words = {'valence':['sad','happy'],'arousal':[['lethargic','calm'],['agitated' ,'energised']]}
                var valInd = this.calculateInd('valence');
                var aroInd = this.calculateInd('arousal');
                var valWord = words['valence'][valInd];
                var aroWord = words['arousal'][aroInd][valInd];
                this.setState({words: [aroWord,valWord], mode: 'RATE'})
            },
            render: function(){
                var inRateMode = (this.state.movies.length && this.state.presentInd<(this.state.movies.length))&&this.state.words;
                var ratingOver = (this.state.presentInd &&  this.state.presentInd== (this.state.movies.length));
                var dims = ['valence','arousal'];
                return(
                    <div className = 'container' style = {this.state.style}>
                        {(this.state.mode =='PREDICT')?<h2>Trying to read your mind...</h2>:null}
                        {(this.state.mode =='RATE')?
                        <div className = 'emoSliderContainer'>
                            <h3>Share your movie preferences and then I'll try to find you a movie to match or contrast with your mood</h3>
                            
                            <p> I think you feel <span>{this.state.words[1]}</span> and <span>{this.state.words[0]}</span> at the moment but let me know if that's wrong by changing the slider settings</p>
                            
                            {dims.map(function(dim,i) {
                            return (
                                <EmotionSlider key = {i} 
                                    category = {dim}
                                    value = {this.state[dim]} 
                                    onChange = {function(category, value){
                                        var st = {}
                                        st[category] = value
                                        this.setState(st,function(){
                                            this.changeColour();
                                        }.bind(this));
                                    }.bind(this)}/>
                                 )}.bind(this))}
                            <MovieSlider  
                                        movie = {this.state.movies[this.state.presentInd]}
                                        nextMovie = {this.nextMovie}
                                        onRate = {this.onRate}
                                        lastMovie = {this.state.presentInd==(this.state.movies.length-1)}/>                            
                        </div>
                        :null}


  
                        {(this.state.mode=='CHOOSE') ? <ChoicePanel onChoose={function(match){
                            this.setState({mode:'RECOMMEND'},function(){
                                    this.requestRecms(match);
                            }.bind(this))
                        }.bind(this)}/>:null}

                        {(this.state.mode == 'RECOMMEND')?
                            <h2>Finding you a movie ... </h2>:null
                        }
                </div>
                )
            }

        });


        var ChoicePanel = React.createClass({
            getInitialState: function(){
                return { 
                    pstyle: {display:'none'} }
            },
            makeChoice: function(e){
                this.setState({match: 1*(e.target.value=='match')})
            },
            render: function(){
                return(
                    <div >
                        <h4> Do you want a movie to match or contrast with your emotional state? </h4>
                        <label>Match
                                <input type = 'radio' name = 'choice' value = 'match' onChange = {this.makeChoice}/>
                        </label>
                        <label>Contrast
                                <input type = 'radio' name = 'choice' value = 'contrast' onChange = {this.makeChoice}/> 
                        </label>
                        
                        <button onClick = {function(){
                            if(typeof(this.state.match) === 'undefined'){
                                this.setState({pstyle:{display:'block'}})
                            }
                            else {this.props.onChoose(this.state.match);}
                        }.bind(this)}> Find me a movie  </button>
                        <p style= {this.state.pstyle}>Please select an option</p>
                    </div>
                )
            }
        })

        var EmotionSlider = React.createClass({


            makeSlider: function(){
                $(function() {
                    $('#'+this.props.category).slider({
                              range: "max",
                              min: 1,
                              max: 9,
                              value: this.props.value,
                              slide: function( event, ui ) {
                                    this.props.onChange(this.props.category,
                                                        ui.value);
                              }.bind(this)                              
                            });
                      }.bind(this));
                },

            componentDidMount: function(){
               this.makeSlider();
            },

            componentDidUpdate: function(){
                this.makeSlider();
            },


            render: function(){
              return(
                <div>
                    <div id ={this.props.category} className = 'emoSlider'></div>
                </div>
                )

            }
        });

        var ResetButton = React.createClass({
            render: function(){
                return(
                    <button onClick={this.props.onClick}> Reset </button>
                )
            }
        })

        var MovieSlider = React.createClass({
            getInitialState: function(){
                return {rating: 0}
            },
            onFinish:function(){
                alert('Done!');
            },
            onRate: function(rating){
                this.setState({rating: rating||0},function(){
                    console.log(this.state.rating)
                }.bind(this));
            },
            onClickNext: function(){
            var prevRating = this.state.rating;
            this.setState({rating: 0},function(){
                    this.props.nextMovie(prevRating);
                }.bind(this));
            },
            render: function(){
                return(
                <div className = 'movieContainer'>
                        <MovieElement movie = {this.props.movie}
                                    userRating = {this.state.rating}
                                    onRate = {this.onRate}/>
                        {!this.props.lastMovie ?
                            <button onClick = {this.onClickNext}> >> </button>
                        :
                            <button onClick = {this.onClickNext}> Finish </button>
                        }
                </div>
                )
            }
        })

        //var MovieMoodPanel = React.createClass({
//
        //})

        var alertJ= function(data){
            alert(JSON.stringify(data));
        }

        var MovieElement = React.createClass({
            render: function(){
                return(
                    <div className = 'slider'>
                        <h3> {this.props.movie.title} </h3>
                        <img src = {this.props.movie.url}/>
                        <RatingStars rating = {this.props.movie.avgRating}
                                    user = {false}/>
                        <RatingStars rating = {this.props.userRating}
                                    onRatingChange= {this.props.onRate}
                                    user = {true}/>
                    </div>
                )
            }
        })

        var RatingStars = React.createClass({

            onRatingChange: function(e){
                this.props.onRatingChange(e.target.value)
            },          
            render: function(){

                return(
                        (!this.props.user)?
                        <div>{this.props.rating}</div>
                        :
                        <input type = 'text' 
                            value = {this.props.rating}
                            onChange = {this.onRatingChange}/>
                )
            }
        })

        ReactDOM.render(
          <EmotionContainer eegUrl = 'http://localhost:8000/eeg'  
                            ratingsUrl = 'http://localhost:8000/ratings' 
                            moviesUrl = 'http://localhost:8000/torate' 
                            simulate = {true} 
                            high = {7} low = {3}  
                            csrf = {document.getElementById('csrf').value}/>,
          document.getElementById('content')
        );





    </script>
    <!--                                <label> Dont predict my emotional state
                                <input type = 'checkbox' 
                                    onChange={function(e){
                                        if(e.target.checked){
                                            this.stopDetect();
                                        }
                                        else{
                                         this.startDetect();
                                        }
                                    }.bind(this)}/></label-->
      </body>
  </html>